.root{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100Wh;
    height: 100vh;
    .form{
        width: 40%;
        .test{
            color: blue;
            margin-left: 5px;
            cursor: pointer;
        }
    }
}